<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <!-- scope сколько бинов создает спринг -->

    <bean name="animal" class="my.spring.task2.beans.Animal" scope="singleton" init-method="init" destroy-method="destroy">
        <property name="kind" value="cat"/>
        <property name="nickname" value="Mia"/>
        <property name="age" value="2"/>
    </bean>

    <!-- АВТОСВЯЗЫВАНИЕ ПО ИМЕНИ -->
    <bean name="parent" class="my.spring.task7.beans.Parent" scope="prototype"
          autowire="byName">
    </bean>

    <!-- АВТОСВЯЗЫВАНИЕ ПО ТИПУ -->
    <bean name="parent2" class="my.spring.task7.beans.Parent" scope="prototype"
          autowire="byType">
    </bean>

    <!-- АВТОСВЯЗЫВАНИЕ ПО КОНСТРУКТОРУ -->
    <bean name="parent3" class="my.spring.task7.beans.Parent" scope="prototype"
          autowire="constructor">
    </bean>

    <!-- АВТОСВЯЗЫВАНИЕ ПО УМОЛЧАНИЮ -->
    <bean name="parent4" class="my.spring.task7.beans.Parent" scope="prototype"
          >
    </bean>

    <bean name="child" class="my.spring.task7.beans.Child" scope="singleton" p:name="Ira">
    </bean>

</beans>